@model CapaInfraestructura.CapaDominio.Entities.EstadosEvento

@{
    ViewData["Title"] = "Eliminar estado";
}

<div class="row justify-content-center">
    <div class="col-sm-6">
        <article class="card shadow">
            <div class="card-header">
                <h2>¿Está seguro de eliminar el estado "@Html.DisplayFor(model => model.NombreEstadoEvento)"?</h2>
            </div>
            <div class="card-body">
                <p>
                    <strong>Nombre del estado:</strong> @Html.DisplayFor(model => model.NombreEstadoEvento)
                </p>

                <p>
                    <strong>Descripción:</strong> @Html.DisplayFor(model => model.DescripcionEstadoEvento)
                </p>
            </div>
            <div class="card-footer">
                <form asp-action="Delete">
                    <input type="hidden" asp-for="IdEstadoEvento" />
                    <input type="submit" value="Eliminar" class="btn btn-danger" /> |
                    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
                </form>
            </div>
        </article>
    </div>
</div>