@model CapaInfraestructura.CapaDominio.Entities.EstadosEvento

@{
    ViewData["Title"] = "Editar estados";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <form asp-action="Edit" class="shadow-lg card">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdEstadoEvento" />
            <div class="card-header">
                <h2>Editar estado</h2>
            </div>
            <div class="card-body">
                <div class="form-group mb-3">
                    <label asp-for="NombreEstadoEvento" class="control-label">Nombre</label>
                    <input asp-for="NombreEstadoEvento" class="form-control" />
                    <span asp-validation-for="NombreEstadoEvento" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="DescripcionEstadoEvento" class="control-label">Descrición del evento</label>
                    <textarea asp-for="DescripcionEstadoEvento" class="form-control"></textarea>
                    <span asp-validation-for="DescripcionEstadoEvento" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="submit" value="Guardar" class="btn btn-success" />
                    <a class="btn btn-secondary" asp-action="Index">Volver</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
