@model CapaInfraestructura.CapaDominio.Entities.Ticket

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NumeroTicket" class="control-label"></label>
                <input asp-for="NumeroTicket" class="form-control" />
                <span asp-validation-for="NumeroTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AbonoTicket" class="control-label"></label>
                <input asp-for="AbonoTicket" class="form-control" />
                <span asp-validation-for="AbonoTicket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrecioOriginal" class="control-label"></label>
                <input asp-for="PrecioOriginal" class="form-control" />
                <span asp-validation-for="PrecioOriginal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescuentoAplicado" class="control-label"></label>
                <input asp-for="DescuentoAplicado" class="form-control" />
                <span asp-validation-for="DescuentoAplicado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDescuento" class="control-label"></label>
                <input asp-for="FechaDescuento" class="form-control" />
                <span asp-validation-for="FechaDescuento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventoIdEvento" class="control-label"></label>
                <select asp-for="EventoIdEvento" class ="form-control" asp-items="ViewBag.EventoIdEvento"></select>
            </div>
            <div class="form-group">
                <label asp-for="EstadoTicketIdEstadoTicket" class="control-label"></label>
                <select asp-for="EstadoTicketIdEstadoTicket" class ="form-control" asp-items="ViewBag.EstadoTicketIdEstadoTicket"></select>
            </div>
            <div class="form-group">
                <label asp-for="CategoriaTicketIdCategoriaTicket" class="control-label"></label>
                <select asp-for="CategoriaTicketIdCategoriaTicket" class ="form-control" asp-items="ViewBag.CategoriaTicketIdCategoriaTicket"></select>
            </div>
            <div class="form-group">
                <label asp-for="PersonaIdPersona" class="control-label"></label>
                <select asp-for="PersonaIdPersona" class ="form-control" asp-items="ViewBag.PersonaIdPersona"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
